email_validator==2.1.1
Flask==3.0.3
Flask-Login==0.6.3
Flask-RESTful==0.3.10
Flask-WTF==1.2.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqtdarktheme==2.1.0
requests==2.31.0
SQLAlchemy==2.0.29
SQLAlchemy-serializer==1.4.12
WTForms==3.1.2