{% extends "base.html" %}
{% block content %}
    <form action="" method="post" novalidate style="width: 50%; margin: auto;">
        {{ form.hidden_tag() }}
        <p>
            {{ form.search_field() }}
            {{ form.submit(type="submit", class="btn btn-primary") }}
        </p>
        <p>
            <textarea class="form-control" rows="10" readonly>{{ text }}</textarea>
        </p>
        {% if error != "None" %}
            <div class="alert alert-danger" role="alert"> {{ error }}</div>
        {% endif %}
    </form>
{% endblock %}
