colorama~=0.4.6
darkdetect~=0.7.1
iniconfig~=2.0.0
packaging~=24.0
pip~=24.0
pluggy~=1.4.0
PyQt5~=5.15.10
PyQt5-Qt5~=5.15.2
PyQt5-sip~=12.13.0
pyqtdarktheme~=2.1.0
pytest~=8.1.1
setuptools~=69.1.1
wheel~=0.42.0

Flask~=3.0.2
requests~=2.31.0
SQLAlchemy~=2.0.29
WTForms~=3.1.2